<h1>HW1</h1>
<ol>
    <li>Questions from <a href="https://juliaacademy.com/">Juliaacademy</a></li>
    <li>One extra question</li>
</ol>

### Getting started

#### 1.1 
Look up docs for the `convert` function.

In [ ]:
#the convert fuction converts data types using the following syntax 'convert(data_type,variable)'

#### 1.2 
Assign `365` to a variable named `days`. Convert `days` to a float and assign it to variable `days_float`

In [ ]:
days = 365
days_float = convert(Float16,days)

In [ ]:
@assert days == 365
@assert days_float == 365.0

#### 1.3 
See what happens when you execute

```julia
convert(Int64, "1")
```
and

```julia
parse(Int64, "1")
```

In [ ]:
convert(Int64,"1")
parse(Int64,"1")

### Strings

#### 2.1 
Create a string that says "hi" 1000 times, first with `repeat` and then with the exponentiation operator, which can call `*` under the hood. Assign it the variable `hi` below.

In [ ]:
repeat("hi",1000)
hi = "hi"^1000

In [ ]:
@assert hi == "hihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihihi"

#### 2.2 
Declare two variables

```julia
a = 3
b = 4
```
and use them to create two strings:
```julia
"3 + 4"
"7" 
```
and store the results in `c` and `d` respectively

In [ ]:
a = 3
b = 4
c = "$(a) + $(b)"
d = "$(a+b)"

In [ ]:
@assert c == "3 + 4"
@assert d == "7"

### Data stuctures

#### 3.1 
Create an array, `a_ray`, with the following code:

```julia
a_ray = [1, 2, 3]
```

Add the number `4` to the end of this array and then remove it.

In [ ]:
a_ray = [1, 2, 3]
typeof(a_ray)
push!(a_ray,4)
pop!(a_ray)

In [ ]:
@assert a_ray == [1, 2, 3]
a_ray

#### 3.2 
Define 'myphonebook' using the follwing code
```julia
myphonebook = Dict("Jenny" => "867-5309", "Ghostbusters" => "555-2368")
```
Try to add "Emergency" as key to `myphonebook` with the value `string(911)` with the following code
```julia
myphonebook["Emergency"] = 911
```

Why doesn't this work?

In [ ]:
myphonebook = Dict("Jenny" => "865-5309","Ghostbuster"=>"555-2368")
myphonebook["Emergency"] = 911 #this doesn't work because 911 is assigned as an integer rather than a string, and the original dictionary initialization is a string, string format

#### 3.3 
Create a new dictionary called `flexible_phonebook` that has Jenny's number stored as an integer and Ghostbusters' number stored as a string with the following code

```julia
flexible_phonebook = Dict("Jenny" => 8675309, "Ghostbusters" => "555-2368")
```

In [ ]:
flexible_phonebook = Dict("Jenny"=> 8675309, "Ghostbusters" => "555-2368")

In [ ]:
@assert flexible_phonebook == Dict("Jenny" => 8675309, "Ghostbusters" => "555-2368")

#### 3.4 
Add the key "Emergency" with the value `911` (an integer) to `flexible_phonebook`.

In [ ]:
flexible_phonebook["Emergency"] = 911
flexible_phonebook

In [ ]:
@assert haskey(flexible_phonebook, "Emergency")

In [ ]:
@assert flexible_phonebook["Emergency"] == 911

#### 3.5 
Why can we add an integer as a value to `flexible_phonebook` but not `myphonebook`? How could we have initialized `myphonebook` so that it would accept integers as values? (hint: try using [Julia's documentation for dictionaries](https://docs.julialang.org/en/v1/base/collections/#Dictionaries))

In [ ]:
#myphone book was originally was initialized with strings only so it was assigned as a string dictionary, whereas flexible_phonebook
#was initialized as a string and an integer so Julia declared it with any datatype as an option. myphonebook could have been
#initialized to accept integers as well by specifying during initialization as follows: Dict{String,Int32}("..."=>"..","..."=>"...")

### Loops

#### 4.1 
Loop over integers between 1 and 100 and print their squares.

In [ ]:
for x in 1:100
    println(x^2)
end

#### 4.2 
Add to the code above a bit to create a dictionary, `squares` that holds integers and their squares as key, value pairs such that

```julia
squares[10] == 100
```

In [ ]:
squares = Dict()
x = 1
while x<101
    squares[x]=x^2
    x+=1
end
println(squares)

In [ ]:
@assert squares[10] == 100
@assert squares[11] == 121

#### 4.3 
Use an array comprehension to create an an array `squares_arr` that stores the squares for all integers between 1 and 100.

In [ ]:
squares_arr = []
for i in 1:100
    push!(squares_arr,i^2)
end
println(squares_arr)

In [ ]:
@assert length(squares_arr) == 100
@assert sum(squares_arr) == 338350

### Conditionals

#### 5.1 
Write a conditional statement that prints a number if the number is even and the string "odd" if the number is odd.

In [ ]:
x = 242
if x%2 == 0
    println(x)
else
    println("odd")
end

#### 5.2 
Rewrite the code from 5.1 using a ternary operator.

In [ ]:
x = 17
x%2==0 ? println(x) : println("odd")

### Functions

#### 6.1 
Write a function `add_one` that adds 1 to its input.

In [ ]:
add_one(x) = x+1

In [ ]:
@assert add_one(1) == 2

In [ ]:
@assert add_one(11) == 12

#### 6.2 
Use `map` or `broadcast` to increment every element of matrix `A` by `1` and assign it to a variable `A1`.

In [ ]:
f(x)=x+1
map(f,[1 2 3; 4 5 6; 7 8 9])

In [ ]:
@assert A1 == [2 3 4; 5 6 7; 8 9 10]

#### 6.3 
Use the broadcast dot syntax to increment every element of matrix `A1` by `1` and store it in variable `A2`

In [ ]:
A2 = f.(A1)

In [ ]:
@assert A2 == [3 4 5; 6 7 8; 9 10 11]

### Packages

#### 7.1 
Load the Primes package (source code at https://github.com/JuliaMath/Primes.jl ).

In [ ]:
using Pkg
Pkg.add("Primes")
using Primes

In [ ]:
@assert @isdefined Primes

#### 7.2 
Verify that you can now use the function `primes` to grab all prime numbers under 1,000,000 and store it in variable `primes_list`

In [ ]:
primes_list = primes(1000000)

In [ ]:
@assert primes_list == primes(1000000)

### Plotting

#### 8.1 
Given
```julia
x = -10:10
```
plot y vs. x for $y = x^2$.  You may want to change backends back again.

In [ ]:
using Pkg
Pkg.add("Plots")
using Plots
gr()

In [ ]:
x = -10:10
y = x.^2
plot(x,y, label = "line")

#### 8.2 
Execute the following code

In [ ]:
p1 = plot(x, x)
p2 = plot(x, x.^2)
p3 = plot(x, x.^3)
p4 = plot(x, x.^4)
plot(p1, p2, p3, p4, layout = (2, 2), legend = false)

and then create a $4x1$ plot that uses `p1`, `p2`, `p3`, and `p4` as subplots.

In [ ]:
plot(p1, p2, p3, p4, layout = (4,1), legend = false)

### Extra Exercise
Write a function that will output a Fibonacci Sequence with a length of N
```
Function name: fibonacciN
```
```
Input: N::Int32
```
```
Output: a N-element vector that stores a Fibonacci Sequence
```
```
Example: fibonacciN(50) => [0, 1, â€¦., 7778742049]
```

In the Fibonacci Sequence, the first two numbers are 0 and 1 and every number thereafter is the sum of the previous two numbers in the sequence
For this question, consider 0 to be the 1st Fibonacci Number, not the 0th (i.e. do not zero-index)

In [45]:
fib = [Int32(0),Int32(1)]
function fibonacciN(N::Int32)
    fib = [Int32(0),Int32(1)]
    if N <= 1
        println("[0]")
    elseif N ==2
        println(fib)
    else
        for i = 3:N
            push!(fib, ((fib[i-1]+fib[i-2])))
        end
        println(fib)
    end
end

fibonacciN (generic function with 1 method)

In [48]:
fibonacciN(Int32(46))

Int32[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170]